/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	border: 1px solid gray;
	margin: auto;
	width: 100%;
}

/*index.html page*/

.top-content {
  display: flex;
  margin: 3% 0 0 7%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
	width: 84%;
}

nav a{
  width: 10%;
	text-decoration: none;
	color: gray;
}

.logo {
	width: 20%;
  margin-right: 0.5%;
  margin-left: 8%;
}

header {
	display: flex;
	width: 100%;
	border-bottom: 2px solid black;
  margin-top: 7%;
  padding-bottom: 8%;
  justify-content: flex-end;
}

.Title {
  display: flex;
  flex-direction: column;
	text-align: center;
  width: 45%;
  align-items: center;
  padding-top: 7%;
}

h1 {
	font-size: 75px;
	width: 100%;
}
header img {
  width: 40%;
  padding-right: 0.5%;
}

button {
  display: flex;
	border: 1px solid black;
	font-size: 18px;
	color: black;
	width: 37%;
	height: 35px;
  justify-content: center;
}


.middle-content {
  display: flex;
	margin-left: 5.15%;
	margin-top: 3%;
  margin-bottom: 3%;
}

.text-content1 {
	
	width: 47%;
	margin-left: 2%;
	font-size: 20px;
}

.text-content2 {
	
	width: 47%;
	margin-left: 2%;
	font-size: 20px;
}

.middle-img {
	width: 92%;
	margin-left: 7%;
}

.bottom-content {
  display: flex;
	margin-top: 3%;
	border-bottom: 2px solid black;
}

.text-content3 {
	
	width: 29.8%;
	font-size: 20px;
	margin-left: 7%;
	margin-bottom: 4%;
}

.text-content4 {
	
	width: 29.8%;
	font-size: 20px;
	margin-left: 1%;
	margin-bottom: 4%;
}

.text-content5 {
	
	width: 29.8%;
	font-size: 20px;
	margin-left: 1%;
	margin-bottom: 4%;
}

.contact {
	display: block;
	margin-top: 4%;
	margin-left: 7%;
	font-size: 20px;
}

footer {
  text-align: center;
  margin-bottom: 3%;
}







/*services.html page*/
.top-content-services {
  display: flex;
  border: transparent;
  justify-content: space-between;
  margin: 3% 5% 0 4%;
}

.top-content-services nav {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
	width: 84%;
  border: transparent;
}

.top-content-services nav a{
  
  width: 10%;
  justify-content: space-between;
	text-decoration: none;
	color: gray;
  border: transparent;
  margin-right: 7%;
}

.top-content-services .logo {
	border: transparent;
	width: 100%;
	margin-right: 0;
}


.header-services {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}


.services-header-img {
  width: 91%;
  margin: 3% 0 3% 4%;
}

.top-text {
  margin: 0 1% 4% 4%;
}

.top-text h2 {
  font-size: 26px;
}

.middle-services {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 5% 3% 4%;
  justify-content: space-between;
}

.text-content-services {
  width: 48%;
  height: 250px;
  background: lightgray;
  border: 1px solid black;
  margin: 2% 0 2% 0;
}

.text-content-services h2 {
  margin: 4% 0 4% 4%;
}

.text-content-services p {
  margin: 4% 3% 4% 4%;
}

.button-services {
  display: flex;
  justify-content: center;
  margin-left: 4%;
  border-radius: 5px;
  font-size: 12px;
  width: 30%;
}

.bottom-services {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  margin-left: 4%;
  margin-right: 5%;
}

.bottom-services-div {
  margin-top: 4%;
  width: 45%;
}

.bottom-services h2 {
  margin-bottom: 4%;
}

.bottom-services p {
  line-height: 1.3;
}

.bottom-services ul {
  margin: 5% 0 0 4%;
  list-style-type: square;
}
.services-info-img {
  margin-top: 4%;
  width: 48%;
}



/*Media Queries*/

@media (max-width: 800px) {
  .top-content {
    flex-direction: column-reverse;
    align-items: center;
    margin: 4% auto;
  }
  
  .top-content nav {
    width: 98%;
    justify-content: space-evenly;
  }

  .top-content .logo {
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    justify-content: center;
  }

  header img {
    display: none;
  }

  .Title {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .Title button {
    width: 55%;
  }

  .middle-content {
    margin-left: 6.5%;
    margin-right: 1%;
  }

  .text-content1 {
    font-size: 16px;
  }
  
  .text-content2 {
    font-size: 16px;
  }

  .bottom-content {
    margin-left: 1.5%;
    padding-right: 2%;
  }
  
  .text-content3 {
    font-size: 16px;
  }
  
  .text-content4 {
    font-size: 16px;
  }
  
  .text-content5 {
    font-size: 16px;
  }

  .contact {
    margin-left: 8.5%;
  }

  .contact h2 {
    font-size: 16px;
  }

  .contact p {
    font-size: 16px;
  }

  footer {
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
  }
}



@media (max-width: 500px) {
  .top-content nav {
    flex-direction: column;
    font-size: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  .top-content nav a {
    padding: 4% 0 4% 0;
  }

  #services {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
  }

  #product {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
  }

  #vision {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
  }

  #features {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
  }

  #about {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
  }

  #contact{
    width: 100%;
    text-align: center;
  }

  .top-content .logo {
    width: 40%;
  }

  header {
    padding-bottom: 15%;
  }

  .Title {
    width: 70%;
    padding-top: 4%;
    padding-bottom: 0;
  }

  .middle-content {
    flex-direction: column;
    margin-top: 13%;
    margin-left: 0;
  }

  .text-content1 {
    margin-left: 0;
    margin-bottom: 10%;
    width: 100%;
  }

  .text-content1 h2 {
    margin-bottom: 3%;
  }

  .text-content2 {
    margin-left: 0;
    width: 100%;
    margin-bottom: 9%;
  }

  .middle-img {
    width: 100%;
    margin-left: 0;
  }

  .bottom-content {
    flex-direction: column;
    margin-left: 0;
  }

  .text-content3 {
    margin-top: 3%;
    margin-bottom: 14%;
    margin-left: 0;
    width: 100%;
  }

  .text-content4 {
    margin-bottom: 14%;
    margin-left: 0;
    width: 100%;
  }

  .text-content5 {
    margin-bottom: 8%;
    margin-left: 0;
    width: 100%;
  }

  .contact {
    padding-top: 3%;
    margin-left: 0;
  }

}